{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Oportunidades laborales</h2>

    <div class="row">
        {% for oferta in ofertas %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ oferta.nombre }}</h5>
                    <p class="card-text">{{ oferta.descripcion }}</p>
                    <a href="{% url 'contacto' %}" class="btn btn-primary">Postular</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}