{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

<div class="text-center">
  <h4>Nuestros flanes</h4>
</div>

<section class="container-fluid">
<div class="row row-cols-1 row-cols-md-3 ">
{% for flan in productos %}
  <div class="col">
    <img src="{% static 'flan.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ flan.nombre}}</h5>
      <p class="card-text">{{ flan.descripcion }}</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  {% endfor %}
</div>
</section>

{% endblock %}