{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center">
  <h4>Propiedades disponibles</h4>
</div>

<div class="container">
<form method="get"
              class="row g-2 mb-4 justify-content-center">
              
        <label for="region">REGIÓN</label>
        <select class="form-select" name="region" id="region">
            <option value="">---TODAS LAS REGIONES---</option>
            {% for region in regiones %}
            <option value="{{ region.id }}"> {{ region.nombre }} ({{ region.total_inmuebles }})</option>
            {% endfor %}
        </select>

        <label for="comuna">COMUNA</label>
        <select class="form-select" name="comuna" id="comuna">
            <option value="">---TODAS LAS COMUNAS---</option>
            {% for comuna in comunas %}
            <option value="{{ comuna.id }}"> {{ comuna.nombre }} ({{ comuna.total_inmuebles }})</option>
            {% endfor %}
        </select>
            

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    Buscar
                </button>
            </div>

            {% if busqueda %}
                <div class="col-auto">
                    <a href="{% url 'indice' %}"
                       class="btn btn-secondary">
                        Limpiar
                    </a>
                </div>
            {% endif %}
        </form>
</div>

<section>
<div class="container">
<div class="row row-cols-1 row-cols-md-4 ">
{% for inmueble in inmuebles %}
  <div class="col">
    <img src="{{ inmueble.image_url }}" class="card-img-top" alt="..." style="height: 250px;">
    <div class="card-body">
        <h5 class="card-title">{{ inmueble.nombre}}</h5>
        <p class="card-text">{{ inmueble.region }}</p>
        <p class="card-text">{{ inmueble.comuna }}</p>
        <p class="card-text">{{ inmueble.descripcion }}</p>
        <p class="card-text">Precio: ${{ inmueble.precio_mensual }}</p>
    </div>
  </div>
  {% endfor %}
</div>
</div>
</section>

{% endblock %}

