<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DESAFIO INTRODUCCION A DJANGO</h1>
    <h2>Pasos para completar el desafío</h2>
    <ol>
        <li>Crear directorio del proyecto</li>
        <li>Copiar el archivo requirements.txt en la carpeta</li>
        <li>Crear el ambiente virtual con py -m venv ambiente_virtual</li>
        <li>Activar el ambiente virtual con \Scripts\activate<li>
        <li>Instalar las dependencias con pip install -r requirements.txt</li>
        <li>Verificar que se encuentren las versiones correctas con pip-list</li>
        <li>Volver al directorio anterior con cd..</li>
        <li>Iniciar el proyecto con django-admin startproject desafio1</li>
        <li>Crear el archivo views.py</li>
        <li>Importar render</li>
        <li>Crear la función home, about y contact</li>
        <li>Crear la carpeta templates</li>
        <li>Crear los archivos home.html, about.html y contact.html</li>
        <li>Modificar los path en el archivo urls.py para redireccionar a los templates creados</li>
        <li>Modificar el archivo settings.py y modificar 'DIRS': [BASE_DIR / 'templates']</li>
        <li>Iniciar el servidor con py manage.py runserver</li>
    </ol>
     
</body>
</html>